<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2lPW07IRLDaNBld6Mr9v1xD4WLfTOMps</string>
	<key>GCM_SENDER_ID</key>
	<string>852068769352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.paybiz</string>
	<key>PROJECT_ID</key>
	<string>paybiz-14ts</string>
	<key>STORAGE_BUCKET</key>
	<string>paybiz-14ts.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852068769352:ios:8f895ab6b3b1e364b0027d</string>
</dict>
</plist>